:root {
    --color-principal: #ff0000;
    --color-letras: #ffffff;
    --altura-navbar: 60px;
    --altura-header: var(--altura-header)
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background: var(--color-principal);
    height: var(--altura-navbar);
}

#navbar>figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#navbar img {
    width: 100px;
    margin: 20px;
}

#navbar>nav {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 4;
}

#navbar a {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-letras);
    color: rgb(11, 250, 75);

}

#navbar a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(11, 126, 46);
    background-color: #ffffff;
    transition: all .3s ease;
    position: absolute;
    z-index: -1;
}

#navbar a:hover::before {
    top: 0;
    height: 100%;
}

#toggleButton {
    display: none;
}

header {
    text-transform: uppercase;
    text-align: center;
    text-shadow: 15px 15px 10px green;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 500px;
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: var(--color-letras);
    background: url("../assets/img/santaclaus.jpg");
    background-size: cover;
    background-position: center;


}

header img {
    width: 240px;
    padding-bottom: 20px;
    margin-top: 410px;
    margin-left: 40px;
    text-align: center;
}

header h3 {
    color: #ffffff;
    font-size: 25px;
}


.camion {
    display: block;
    margin: 10px;
    border: 10px solid green;
}

.camion img {
    width: 100%;
}

.fixed {
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
    position: sticky;
    background-image: url(..//assets/img/fondo.jpg);
    border: 12px solid red;
}

.fixed p {
    padding-top: 20px;
}


main {
    display: grid;
    align-items: baseline;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: auto auto auto;

}

main img {

    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    border-top: 3px solid #ff0000;
    border-left: 3px solid #ff0000;
    border-right: 3px solid #ff0000;

}

.col{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    padding: 5px;
    width: 30%;
    height: 70%;
}

/*
.figure1 {
    grid-area: 1/1/2/2;
}

.figure2 {
    height: auto;
    grid-area: 1/2/2/3;
}

.figure3 {
    object-fit: cover;
    object-position: center;
    grid-area: 1/3/2/4;
}

figure h3 {
    text-transform: uppercase;
    text-decoration-line: line-through;
    font-size: 2em;
    color: red;
    text-shadow: 5px 5px 7px green;
    text-align: center;
    border: 10px solid red;
}

figure img {
    width: 100%;
}
*/
/*Cuando el tamaño de la pantalla sea inferior a 860px de ancho*/
@media (max-width: 860px) {
    main figure {
        max-width: 50%;
    }

    #toggleButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50px;
        height: 40px;
        border-radius: 5px;
        margin: 5px;
        background: linear-gradient(145deg, #e60000, #ff0000);
        box-shadow: 3px 3px 6px #d10000,
            -3px -3px 6px #ff0000;
    }

    #toggleButton:hover {
        cursor: pointer;
    }

    #toggleButton .bar {
        border-radius: 1px;
        width: 80%;
        height: 3px;
        background-color: white;
    }

    #navbar {
        justify-content: space-between;
    }

    #navbar>nav {
        position: fixed;
        right: -100%;
        bottom: 0;
        background-color: var(--color-principal);
        height: calc(100vh - var(--altura-navbar));
        width: 80%;
        flex-direction: column;
        transition: all .5s linear;
    }

    #navbar>nav.active {
        right: 0;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 25%;
    }

    header>img {
        flex-wrap: wrap;
    }

    /*figure>h3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    */

}

@media print {
    #navbar {
        display: none;
    }
}